<form action="/sessions/new" method='post' id='authenticate'}>
    <div>
        <label for="username">username: </label>
        <input type="text" name='username' id='username'>
    </div>
    <div>
        <label for="password">password: </label>
        <input type="text" name='password' id='password'>
    </div>
    <div>
        <input type="submit" value='log in'>
    </div>
</form>