<% layout('../layouts/page') %>
<% block('title', 'USERS') %>
<ul>
    <% posts.forEach(function(post, i){ %>
    <li>
        <span> <%= post.title %> <%- post.text %> <%= post.user %></span>
    </li>
    <%});%>
</ul>

